{% extends "sake_web/base.html" %}

{% block title %}日本酒{% endblock title %}

{% block content %}
<div class="py-5 text-center opaque-overlay">
   <div class="container py-5">
     <div class="row">
       <div class="col-md-12">
         <h1 class="display-3 mb-4">日本酒.com</h1></br></br>
         <a class="btn btn-lg mx-1 btn-secondary" href="http://127.0.0.1:8000/sake/search/">日本酒を探す</a>
         <a class="btn btn-lg mx-1 btn-warning" href="http://127.0.0.1:8000/sake/search/">おつまみから探す</a>
         <a class="btn btn-lg btn-primary mx-1" href="{% url 'sake_web:login' %}">ログイン</a>
       </div>

     </div>
   </div>
 </div>
{% endblock content %}
